<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <div class="blueline">
        <div class="denysburimov">Denys Burimov EPAM employee project</div>
    </div>

    <nav>
        <div class="topmenu wrapper">
            <div class="left_menu">
                <img src="{{ url_for('static', filename='pictures/EPAM_logo.png') }}" alt="EPAM_logo" class="logo">
            </div>
            <div class="right_menu">
                <a href="{{ url_for('home') }}">Description</a>
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 'admin' %}
                        <a href="{{ url_for('projects') }}">Projects</a>
                        <a href="{{ url_for('tasks') }}">Tasks</a>
                    {% elif (current_user.role == 'PO' or current_user.role == 'PM') %}
                        <a href="{{ url_for('projects') }}">Projects</a>
                    {% else %}
                        <a href="{{ url_for('tasks') }}">Tasks</a>
                    {% endif %}
                    <a href="{{ url_for('account') }}">{{current_user.username}} - {{current_user.role}}</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}

    <footer>
        <div class="footer_white wrapper">
            <div class="footer_left">
                <div class="testing_block footer_logo_block"><span>&#60 </span>&#160;Denys Burimov&#160;<span> &#62</span></div>

                <div class="testing_block social_media">
                    <a href="https://www.facebook.com/burimov.denis/"><img class="social_media_image" src="{{ url_for('static', filename='pictures/facebook.png') }}" alt="fb"></a>
                    <a href="https://www.linkedin.com/in/denys-burimov-391077142/"><img class="social_media_image" src="{{ url_for('static', filename='pictures/linkedin.png') }}" alt="in"></a>
                </div>

                <div class="testing_block adress">
                    <p>denysburimov@gmail.com</p>
                    <p>38 095 412 23 79</p>
                </div>
            </div>

            <div class="footer_right">
                <div class="footer_column">
                    <p class="transp_heading">Python</p>
                    <a class="footer_links" href="#">Django</a>
                    <a class="footer_links" href="#">Flask</a>
                    <a class="footer_links" href="#">Databases</a>
                </div>

                <div class="footer_column">
                    <p class="transp_heading">Front</p>
                    <a class="footer_links" href="#">HTML</a>
                    <a class="footer_links" href="#">CSS</a>
                    <a class="footer_links" href="#">JS</a>
                </div>

                <div class="footer_column_3">
                    <p class="transp_heading">Soft Skills</p>
                    <a class="footer_links" href="#">Communication experience</a>
                    <a class="footer_links" href="#">Professional relationship experience</a>
                    <a class="footer_links" href="#">Engineering background</a>
                </div>
            </div>
        </div>

        <div class="footer_black">
            <div class="wrapper">
                <div class="footer_black_inner">
                    <div class="black_left_4">
                        <a href="{{ url_for('home') }}" class="black_link">Documentation</a>
                        <a href="{{ url_for('projects') }}" class="black_link">Projects</a>
                        <a href="{{ url_for('tasks') }}" class="black_link">Tasks</a>
                        <a href="{{ url_for('register') }}" class="black_link">Registration</a>
                    </div>

                    <div class="black_right_2">
                        <img class="social_media_image" src="{{ url_for('static', filename='pictures/epam_white.png') }}" alt="fb" class="logo">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>