{% extends 'base.html' %}

{% block title %}
    Tasks of the project
{% endblock title %}


{% block content %}
    <section class="white_panel ">
        <div class="wrapper">
            <div class="row">
                <div class="headings"><span>&#60</span> {{ project.project_name }} <span>&#62</span></div>
                {% if (current_user.role == "PO" or current_user.role == "admin") %}
                    <div class="details_button update">
                        <a href="/projects/update/{{ project.project_id }}">Update</a>
                    </div>
                {% endif %}
            </div>
            <div class="project_details">
                <div class="th"><p>Done</p></div>
                <div class="th"><p>Deadline</p></div>
                <div class="th th_horizontal"><p>Salary plus</p><p>bonuses</p></div>
                <div class="th th_horizontal"><p>Days since</p><p>started</p></div>
                <div class="th th_horizontal"><p>Days to</p><p>deadline</p></div>
                <div class="th th_horizontal"><p>Currently</p><p>paid</p></div>
                <div class="th th_horizontal"><p>Expected</p><p>total</p></div>
                <div class="th"><p>Team</p></div>
                <div class="bright">{{ project.fulfilment }}%</div>
                <div class="dim">{{ project.project_deadline }}</div>
                <div class="bright">{{ project.salary_plus_bonuses }}</div>
                <div class="dim">{{ project.time_since_started }}</div>
                <div class="bright">{{ project.timedifference }}</div>
                <div class="dim">{{ project.currently_paid }}</div>
                <div class="bright">{{ project.expected_total_payments }}</div>

                <div class="dim">
                    {% for current_user in project.users %}
                        <p>{{ current_user.username }} - {{ current_user.role }}</p>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </section>

    <section class="white_panel">
        <div class="wrapper">
            <div class="row">
                <div class="headings"><span>&#60</span> {{ project.project_name }} - Tasks <span>&#62</span></div>
                <div class="details_button add_project">
                    <a href="{{ url_for('task_adding') }}">Add Task</a>
                </div>
            </div>
            <div class="tasks">
                <div class="th"><p>Project</p></div>
                <div class="th"><p>Task</p></div>
                <div class="th"><p>Done</p></div>
                <div class="th"><p>Deadline</p></div>
                <div class="th th_horizontal"><p>Days to</p><p>deadline</p></div>
                <div class="th"><p>Team</p></div>
                <div class="th"><p>Email</p></div>
                <div class="th"><p></p></div>
                {% for task in tasks %}
                    <div class="bright">{{ task.project_name }}</div>
                    <div class="dim">{{ task.task_name }}</div>
                    <div class="bright">{{ task.task_fulfilment }}%</div>
                    <div class="dim">{{ task.task_deadline }}</div>
                    <div class="bright">{{ task.timedifference }}</div>
                    <div class="dim">
                        {% for current_user in task.users %}
                            <p>{{ current_user.username }} - {{ current_user.role }}</p>
                        {% endfor %}
                    </div>
                    <div class="bright">
                        {% for current_user in task.users %}
                            <p>{{current_user.email}}</p>
                        {% endfor %}
                    </div>
                    <div class="dim">
                        <div class="details_button">
                            <a href="/task_update/{{ task.task_id }}">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock content %}