{% extends 'base.html' %}

{% block title %}
    Tasks of the project
{% endblock title %}


{% block content %}
    <h1>{{ project.project_name }}</h1>
    {{ project.fulfilment }}%
    {{ project.project_deadline }}
    {{ project.salary_plus_bonuses }}
    {{ project.time_since_started }}
    {{ project.timedifference }}
    {{ project.currently_paid }}
    {{ project.expected_total_payments }}

    {% for current_user in project.users %}
        {{ current_user.username }}
        {{ current_user.role }}
    {% endfor %}
    <br>
{% endblock content %}