{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}


{% block content %}
    <h1>Home Page Testing</h1>
    {% for project in projects %}
        {% set time_difference = project.project_started - project.project_deadline %}
        <p>{{ project.project_name }}, {{ project.fulfilment }}%, {{ project.project_started }}, {{ project.project_deadline }}, {{ time_difference.days }}</p>
    {% endfor %}
    <br>
    {% for task in tasks %}
        <p>{{ task.task_name }}, {{ task.task_fulfilment }}%, {{ task.task_started }}, {{ task.task_deadline }}</p>
    {% endfor %}
    <br>
    {% for user in users %}
        <p>{{ user.username }}, {{ user.email }}, {{ user.role }}</p>
    {% endfor %}
{% endblock content %}