{% extends 'base.html' %}

{% block title %}
    Tasks of the project
{% endblock title %}


{% block content %}
    <section class="white_panel">
        <div class="wrapper">
            <div class="headings"><span>&#60</span>{{ current_user.project_name }} - Tasks <span>&#62</span></div>
            <div class="tasks">
                <div class="th"><p>Project</p></div>
                <div class="th"><p>Task</p></div>
                <div class="th"><p>Done</p></div>
                <div class="th"><p>Deadline</p></div>
                <div class="th th_horizontal"><p>Days to</p><p>deadline</p></div>
                <div class="th"><p>Team</p></div>
                <div class="th"><p>Email</p></div>
                <div class="th"><p></p></div>
                {% for task in tasks %}
                    <div class="bright">{{ task.project_name }}</div>
                    <div class="dim">{{ task.task_name }}</div>
                    <div class="bright">{{ task.task_fulfilment }}%</div>
                    <div class="dim">{{ task.task_deadline }}</div>
                    <div class="bright">{{ task.timedifference }}</div>
                    <div class="dim">
                        {% for each_user in task.users %}
                            <p>{{ each_user.username }} - {{ each_user.role }}</p>
                        {% endfor %}
                    </div>
                    <div class="bright">
                        {% for each_user in task.users %}
                            <p>{{each_user.email}}</p>
                        {% endfor %}
                    </div>
                    <div class="dim">
                        <div class="details_button">
                            <a href="/task_update/{{ task.task_id }}">Update</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}