{% extends 'base.html' %}

{% block title %}
    Tasks of the project
{% endblock title %}


{% block content %}
    <section class="white_panel">
        <div class="wrapper">
            <div class="headings"><span>&#60</span>*Project Name - Tasks <span>&#62</span></div>
            <div class="tasks">
                <div class="th"><p>Project</p></div>
                <div class="th"><p>Task</p></div>
                <div class="th"><p>Done</p></div>
                <div class="th"><p>Deadline</p></div>
                <div class="th th_horizontal"><p>Days to</p><p>deadline</p></div>
                <div class="th"><p>Team</p></div>
                <div class="th"><p>Email</p></div>
                {% for task in tasks %}
                    <div class="bright">{{ task.project_name }}</div>
                    <div class="dim">{{ task.task_name }}</div>
                    <div class="bright">{{ task.task_fulfilment }}%</div>
                    <div class="dim">{{ task.task_deadline }}</div>
                    <div class="bright">{{ task.timedifference }}</div>
                    <div class="dim">
                        {% for current_user in task.users %}
                            <p>{{ current_user.username }} - {{ current_user.role }}</p>
                        {% endfor %}
                    </div>
                    <div class="bright">
                        {% for current_user in task.users %}
                            <p>{{current_user.email}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="headings">{{c_user}}, project: {{ c_user.project_name }}, tasks: {{ c_user.task_name }}</div>
    </section>
{% endblock content %}