{% extends "base.html" %}

{% block title %}
    Add Task
{% endblock title %}

{% block content %}
    <section class="register">
        <div class="wrapper">
            <form method="POST" class="register_form">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">

                    <legend class="headings"><span>&#60</span> Create New Task <span>&#62</span></legend>
                    <div class="form-group">
                        <p>{{ form.project_name.label(class="form-control-label") }}</p>
                        {{ form.project_name(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.task_name.label(class="form-control-label") }}</p>
                        {% if form.task_name.errors %}
                            {{ form.task_name }}
                            <div class="invalid-feedback">
                                {% for error in form.task_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.task_name(class="form-control form-control-lg is-invalid") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <p>{{ form.task_fulfilment.label(class="form-control-label") }}</p>
                        {{ form.task_fulfilment(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.task_started.label(class="form-control-label") }}</p>
                        {{ form.task_started(class="form-control form-control-lg is-invalid") }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.task_deadline.label(class="form-control-label") }}</p>
                        {{ form.task_deadline(class="form-control form-control-lg is-invalid") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </section>

{% endblock content %}